---
layout: default
---

<div class="container--lg pb4">

    <div class="grid-row">

        <!-- Tags -->
        <div class="grid-column span-3">
            <h3 class="mb2">Tags</h3>
            <ul class="no-bullets">
                {% for tag in site.tags %}
                <li class="mb1"><a href="/tag/{{ tag[0] | slugify }}" class="link link--gray">{{ tag[0] | capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Posts -->
        <div class="grid-column">
            <h3 class="mb2">Posts</h3>
            <ul class="no-bullets">
                {% for post in site.posts %}
                <li class="mb2"><a href="{{ post.url }}" class="link">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>