<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jordan Bowman: Product Manager</title>
        <meta name="description" content="Jordan Bowman is a Denver-based product manager.">
        <meta name="author" content="Jordan Bowman">
        <meta name="keywords" content="designer, developer">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Hind:300,400,700" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Neuton:700" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Khula:400,700" rel="stylesheet"> 

        <!-- favicon.ico and apple-touch-icon. A good tool is http://iconogen.com/. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon" href="icon.png">

    </head>

    <body>
