<div class="container pt4 pb4">
    <div class="clearfix">
        <div class="float--left">
            <!--<div class="circle bg--primary-color" style="width:20px;height:20px;"></div>-->
            <a href="/" class="link link--ui"><img src="/img/logo.svg" class="logo vertical--top"></a>
        </div>
        <nav class="float--right">
            <ul class="no-bullets list--inline text--dark-gray">
                <li class="ml1 mr1"><a href="" class="link link--gray small">info</a></li>
                <li class="ml1 mr1"><a href="" class="link link--gray small">posts</a></li>
                <li class="ml1 mr1"><a href="" class="link link--gray small">newsletter</a></li>
            </ul>
        </nav>
    </div>
</div>
