<head>

    <!-- Basics -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jordan Bowman | Web Designer + Engineer</title>

    <!-- Meta -->
    <meta name="description" content="Jordan Bowman is a Denver–based web designer and engineer.">
    <meta name="author" content="Jordan Bowman">
    <meta name="keywords" content="designer, developer, engineer, web designer, denver">

    <!-- Typekit -->
    <script src="https://use.typekit.net/blj8ght.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Favicon.ico -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="css/main.css">

</head>
