<div class="container pt4 pb4">
    <div class="clearfix">
        <div class="float--left">
            <a href="/" class="link link--ui"><img src="/img/logo.svg" class="logo vertical--top"></a>
        </div>
        <nav class="float--right">
            <ul class="no-bullets list--inline text--dark-gray">
                <li class="ml1 mr1"><a href="/about/" class="link link--gray small">About</a></li>
                <!--<li class="ml1 mr1"><a href="/posts.html" class="link link--gray small">Posts</a></li>-->
                <li class="ml1 mr1"><a href="/newsletter/" class="link link--gray small">Newsletter</a></li>
                <li class="ml1 mr1"><a href="https://twitter.com/jrdnbwmn" class="link link--ui small"><img src="/img/twitter.svg" class="icon"></a></li>
            </ul>
        </nav>
    </div>
</div>
