// Base form styles
// -------------------------------------------------------------------
// Apply `.form-control` to any of the following form controls:
// select
// textarea
// input (of any type)
.form-control {
    background-image: none; // Reset unusual Firefox-on-Android default style
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: $text-color;
    display: block;
    font-family: $font-family--ui;
    font-size: 1rem;
    line-height: $line-height--base;
    max-width: 100%;
    padding: $form-padding;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
}


// Form groups
// -------------------------------------------------------------------
.form-group {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 520px;
}

.form-group>.form-control,
.form-group>.btn {
    flex: 1 0 0%;
    border-radius: 0;
}

.form-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.form-group>.form-control:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.form-group>.btn:first-child,
.form-group>.form-control:first-child {
    margin-left: 0;
}

.form-group>.btn:last-child:not(:first-child),
.form-group>.form-control:last-child:not(:first-child) {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}


// Placeholder styling
// -------------------------------------------------------------------
::-webkit-input-placeholder {
    color: $gray-5;
    -webkit-font-smoothing: antialiased;
}
::-moz-placeholder {
    color: $gray-5;
    -moz-osx-font-smoothing: grayscale;
}
:-ms-input-placeholder {
    color: $gray-5;
}
