// Posts
// -------------------------------------------------------------------
// Post spacing
.post {
    padding-top: $space-3;
}

.post h1,
.post h2,
.post h3,
.post p,
.post figure.highlight {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: $space-1;
    padding-right: $space-1;
}

.post ul,
.post ol {
    max-width: 39rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: $space-3;
    padding-right: $space-1;
}

// Set fonts
.post p,
.post ul,
.post ol {
    font-family: $serif;
}

// Drop letter
.drop-cap > p:first-of-type:first-letter {
    float: left;
    margin-right: .4rem;
    font-size: 3.1rem;
    font-weight: $font-weight--bold;
    font-family: $sans-serif;
    line-height: 1;

    @media only screen and (max-width: 800px) {
        .post .drop > p:first-of-type:first-letter {
            font-size: 64px;
        }
    }
}
