// Colors
// -------------------------------------------------------------------
// Grayscale
$gray-base:               #788390 !default;

$black:                   #000 !default;
$darkest-gray:            darken($gray-base, 34%) !default;
$dark-gray:               darken($gray-base, 17%) !default;
$gray:                    $gray-base !default;
$light-gray:              lighten($gray-base, 23%) !default;
$lightest-gray:           lighten($gray-base, 40%) !default;
$white:                   #fff !default;

// Hues
$blue:                    #428bca !default;
$green:                   #6fbb57 !default;
$yellow:                  #f4c763 !default;

// Color scheme
$primary-color:           $blue !default;
$secondary-color:         $green !default;
$tertiary-color:          $yellow !default;


// Baseline
// -------------------------------------------------------------------
$baseline:                .4rem !default;


// Typography
// -------------------------------------------------------------------
// Font families
$sans-serif:              "soleil", "Avenir Next", Avenir, Helvetica,
                          Trebuchet, sans-serif !default;
$serif:                   "freight-text-pro", Georgia, Times,
                          serif !default;
$monospace:               Menlo, Monaco, Andale Mono, Consolas,
                          monospace !default;

$font-family--base:       $sans-serif !default;
$font-family--heading:    $sans-serif !default;
$font-family--reading:    $serif !default;
$font-family--ui:         $sans-serif !default;
$font-family--code:       $monospace !default;

// Type scale
// Good tool: http://type-scale.com/
$h1:                      1.728rem !default;
$h2:                      1.44rem !default;
$h3:                      1.2rem !default;
$h4:                      1rem !default;
$h5:                      .694rem !default;
$h6:                      .694rem !default;

// Finer control over type scale after certain breakpoint (off by default)
$responsive-type:         true !default;
$h1--desktop:             2.827rem !default;
$h2--desktop:             1.999rem !default;
$h3--desktop:             1.414rem !default;
$h4--desktop:             1rem !default;
$h5--desktop:             .707rem !default;
$h6--desktop:             .707rem !default;

// Text color
$text-color:              $dark-gray !default;

// Text sizes
$font-size--mobile:       18px !default;
$font-size--desktop:      21px !default;
$font-size--lg:           $h3 !default;
$font-size--sm:           $h5 !default;

// Weights
$font-weight--base:       400 !default;
$font-weight--heading:    700 !default;

// Line heights
$line-height--base:       $baseline*4 !default;
$line-height--heading:    1.2 !default;
$line-height--sm:         $baseline*2 !default;


// Layout
// -------------------------------------------------------------------
// Breakpoints
// Mobile Safari has problems with rems being used in media queries
$breakpoint--sm:          480px !default;
$breakpoint--md:          50em !default;
$breakpoint--lg:          1024px !default;

// Max post width
$max-post-width:          28rem !default;


// Spaces
// -------------------------------------------------------------------
$space-1:                 $baseline !default;
$space-2:                 $baseline*2 !default;
$space-3:                 $baseline*4 !default;
$space-4:                 $baseline*6 !default;
$space-5:                 $baseline*8 !default;

// Specific margins
$p-mb:                    $space-2 !default;
$heading-mb:              $space-1 !default;

// Outside mobile margin
$outside-mobile-margin:   $space-2 !default;


// Code
// -------------------------------------------------------------------
$code-color:              $white !default;
$code-bg-color:           $darkest-gray !default;
$code-padding:            $baseline*2 $baseline*2 !default;
$font-size--code:         .8rem !default;
$line-height--code:       $baseline*3 !default;


// Tables
// -------------------------------------------------------------------
$table-padding:           $baseline*2 $baseline*2 !default;


// Buttons
// -------------------------------------------------------------------
$button-padding--lg:      $baseline*3 $baseline*4 !default;
$button-padding:          $baseline $baseline*3 !default;
$button-padding--sm:      0 $baseline*2 !default;


// Forms
// -------------------------------------------------------------------
$form-padding:            $baseline $baseline !default;


// Borders
// -------------------------------------------------------------------
$border-color:            $light-gray !default;
$border-style:            solid !default;
$border-radius:           4px !default;
$border-width:            1px !default;


// Animations
// -------------------------------------------------------------------
$fade:                    .1s ease-out !default;
