<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

    <body>

        <div class="container">

            <header class="clearfix pt2">

                <img class="float--left" src="http://simplebits.com/img/logo.png" alt="Pear" style="width: 60px;">

                <ul class="float--right no-bullets list--inline pt1">
                    <li class="bold ml2">Info</li>
                    <li class="bold ml2">Read</li>
                </ul>

            </header>

            {{ content }}

        </div>

        {% include google-analytics.html %}

    </body>

</html>
