---
layout: default
---

<div class="container">

    <div class="mb3">

        <h1 class="mb2">Hi, I'm Jordan Bowman.</h1>
        <p class="h3">👨‍💻 I make stuff for the&nbsp;web.</p>
        <p class="mb3">If you do, too, you might be interested in my newsletter called Query. Every week, I pose three questions to a founder of a successful business. Along the way, we all learn a better way to do work and start a&nbsp;business.</p>

        {%- include newsletter-form.html -%}

    </div>

</div>

